@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;600&display=swap');

*{
  font-family: 'Playpen Sans', sans-serif;
}

header{
  color: #FDFCDC;
  font-weight: 600;
}
footer{
  color: #FDFCDC;
  font-weight: 600;
}
body {
  font-weight: 300;
  background-color: #945D5E;
}
